# re-monitor Configuration File

# Enables debug mode.
DEBUG = False

# RE2 Server Settings
SERVER_HOST = "localhost"
SERVER_PORT = 28802

# InfluxDB Settings
INFLUX_ENABLE = False
INFLUX_HOST = "localhost"
INFLUX_PORT = 8086
INFLUX_USER = ""
INFLUX_PASS = ""
INFLUX_DB = "redeclipse"

# Reporting Settings
# Run once and exit.
ONESHOT = True
# Report rate in seconds.
INTERVAL = 1
# Print the raw server JSON.
DUMP_DATA = True
# Hours behind UTC for time correction.
TIMEZONE = 5
